@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

//COLORS
$dark-red:#de5f5f;
$bright-red:#ff5851;
$yellow:#FDEF52;
$blue:#add8e6;
$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;


//GLOBAL STYLES
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: 0;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}


/* ------ USED TO MAKE THE SCROLL BAR INVISIBLE BUT RETIAN THE FUNCTIONALITY ------ */

body::-webkit-scrollbar {
    display: none;
}

/* -------------------------------------------------------------------------------- */




a{text-decoration: none;}

.container{
    padding: 0 10% 0 13%;
    width: 100%;
    //background-color: lightblue;
}

$accent: $bright-red;
$text-color: $silver;

.button_2{
    background: {
        image: linear-gradient(45deg,$accent 50%, transparent 50%);
        position: 100%;
        size: 400%;
    }
    transition: all .25s ease-in-out;
    padding: 12px 15px;
    border: 2px solid $accent;
    font-size: 150%;
    text-align: center;
    color: $silver;

    &:hover {
        background-position: 0;
        color: $silver;
    }
}

.section-title-1{
    font-size: 7rem;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2px $silver;
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    text-transform: capitalize;
}

.section-title-2{
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    font-family: 'SF Mono Regular';

    .num{
        font-size: 1.4rem;
        color: $bright-red;
    }

    .title{
        //font-family: 'Josefin Sans', sans-serif;
        margin-left: 10px;
        font-size: 1.6rem;
        color: $silver;
        font-weight: 700;
        text-transform: capitalize;
    }

    .line{
        border-top: 1px solid $silver;
        width: 200px;
        margin-left: 20px;
    }
}



//MIXIN
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



//MAIN CSS

.email-container, .social-container{
    width: 60px;
    height: 100%;
    z-index: 10000;
    color: $silver;
    position: fixed;

    .line{
        transform: translateX(-50%);
        width: 0;
        //margin-top: 20px;
        border-left: 1px solid $silver;
        height: 100px;
    }

    .email-wrapper, .social-wrapper{
        position: absolute;
        left: 50%;
        bottom: 0;
    }
}

    .social-container{
        left: 30px;

        .social-wrapper{

            .icons{
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;

                i{
                    margin-bottom: 15px;

                    &:hover{
                        color: $bright-red;
                    }
                }
            }
        }
    }

    .email-container{
        right: 30px;
        
        .email-wrapper{

            .email{
                font-family: 'SF Mono Regular';
                font-size: 1rem !important;
                position: absolute;
                transform: translateX(-50%) rotate(90deg);
                top: -140px;
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;

                &:hover{
                    color: $bright-red;
                }
            }
        }
    }


.home{
    position: relative;
    color: $silver;
    height: 100vh;
    width: 100%;
    background-color:$not-black-but-dark;

    header{
        position: absolute;
        height: 70px;
        width: 100%;
        //background-color: lightgreen;
    }

    .container{
        height: 100%;
        display: flex;
        align-items: center;

        .hero-text{
            //background-color: lightsalmon;
            //margin-left: 30px;

            p{
                margin-left: 5px;
                margin-bottom: 20px;
                font-size: 1.4rem;
                font-family: 'SF Mono Regular';
            }

            .name{
                font-family: 'SF Mono Heavy';
                color: $bright-red;
                font-size: 6.5rem;
            }

            h1{
                font-family: 'SF Mono Bold';
                font-size: 4.6rem;
                letter-spacing: -3px;
                color: rgba(248, 248, 248, 0.5);
            }

            .btn{
                margin-left: 10px;
                margin-top: 70px;
                font-family: 'SF Mono Semibold';
                letter-spacing: -1px;

                .button_2{
                    margin-right: 30px;
                }
            }
        }
    }
}


.about{
    height: 110vh;
    width: 100%;
    background-color:$not-black-but-dark;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .left{
            width: 45%;
            .content-wrapper{
                margin-top: 40px;
                
                p{
                    text-align: justify;
                    color: $silver;
                    font-size: 1.4rem;
                    //font-family: 'SF Mono Regular';
                    font-family: 'Josefin Sans', sans-serif;
                    -webkit-font-smoothing:antialiased;
                    line-height: 2rem;
                    font-weight: 300;
    
                    span{
                        color: $bright-red;
                        font-weight: 400;
                    }
                }
            }
        }

        .right{
            width: 40%;
            .img-wrapper{
                position: relative;
                //background-color: lightblue;
                width: 80%;

                .box{
                    z-index: 4;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    height: 100%;
                    width: 85%;
                    border: 2px solid $silver;
                }

                img{
                    position: relative;
                    z-index: 5;
                    width: 85%;
                }
            }
        }
    }
}



.contact{
    height: 100vh;
    width: 100%;
    background-color: $not-black-but-dark;

    h3{
        color: $silver;
        font-size: 5rem;
        margin-bottom: 50px;
        padding-top: 70px;
        //font-family: 'SF Mono Bold';
        font-family: 'Josefin Sans';
        text-align: center;
    }

    .container{
        height: auto;
        @include flexcenter();
        flex-direction: column;
        //background-color: lightblue;
        position: relative;

        p, h6{
            max-width: 60%;
            text-align: center;
            color: $silver;
            font-family: 'Josefin Sans';
            font-size: 1.5rem;
        }

        p{
            margin-bottom: 1em;
            line-height: 1.9rem;
        }

        h6{
            color: rgba(248, 248, 248, 0.5);
        }

        .btn{
            //position: absolute;
            margin: 70px 0 30px 0;
            font-family: 'SF Mono Semibold';
            letter-spacing: -1px;
        }

        h2{
            margin-top: 50px;
            font-family: 'Josefin Sans';
            font-size: 4.5rem;
            padding-bottom: 10px;

            a, a:visited, a::before, a::after{
                text-decoration: none !important;
                color: $bright-red;
            }

            &:hover{
                border-bottom: 8px solid $bright-red;
                cursor: pointer;
            }
        }
    }
}