@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
/* font-family: 'Josefin Sans', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  overflow-x: hidden;
}

/* ------ USED TO MAKE THE SCROLL BAR INVISIBLE BUT RETIAN THE FUNCTIONALITY ------ *

body::-webkit-scrollbar {
    display: none;
}
/* -------------------------------------------------------------------------------- */
a {
  text-decoration: none;
}

.container {
  padding: 0 10%;
  width: 100%;
}

.button_2 {
  background-image: linear-gradient(45deg, #ff5851 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  padding: 12px 15px;
  border: 2px solid #ff5851;
  font-size: 150%;
  text-align: center;
  color: #f8f8f8;
}

.button_2:hover {
  background-position: 0;
  color: #f8f8f8;
}

.section-title-1 {
  font-size: 7rem;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px #f8f8f8;
  text-align: center;
  font-weight: 800;
  font-family: sans-serif;
  text-transform: capitalize;
}

.section-title-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Mono Regular';
}

.section-title-2 .num {
  font-size: 1.4rem;
  color: #ff5851;
}

.section-title-2 .title {
  margin-left: 10px;
  font-size: 1.6rem;
  color: #f8f8f8;
  font-weight: 700;
  text-transform: capitalize;
}

.section-title-2 .line {
  border-top: 1px solid #f8f8f8;
  width: 200px;
  margin-left: 20px;
}

.email-container, .social-container {
  width: 60px;
  height: 100%;
  z-index: 10000;
  color: #f8f8f8;
  position: fixed;
}

.email-container .line, .social-container .line {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  border-left: 1px solid #f8f8f8;
  height: 100px;
}

.email-container .email-wrapper, .email-container .social-wrapper, .social-container .email-wrapper, .social-container .social-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.social-container {
  left: 30px;
}

.social-container .social-wrapper .icons {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
}

.social-container .social-wrapper .icons i {
  margin-bottom: 15px;
  color: #f8f8f8;
}

.social-container .social-wrapper .icons i:hover {
  color: #ff5851;
}

.email-container {
  right: 30px;
}

.email-container .email-wrapper .email {
  font-family: 'SF Mono Regular';
  font-size: 1rem !important;
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  top: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
}

.email-container .email-wrapper .email a {
  color: #f8f8f8;
}

.email-container .email-wrapper .email a:hover {
  color: #ff5851;
}

.home {
  position: relative;
  color: #f8f8f8;
  height: 100vh;
  width: 100%;
  background-color: #1c1b20;
}

.home header {
  position: absolute;
  height: 70px;
  width: 100%;
}

.home .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container .hero-text p {
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-family: 'SF Mono Regular';
}

.home .container .hero-text .name {
  font-family: 'SF Mono Heavy';
  color: #ff5851;
  font-size: 6.5rem;
}

.home .container .hero-text h1 {
  font-family: 'SF Mono Bold';
  font-size: 4.6rem;
  letter-spacing: -3px;
  color: rgba(248, 248, 248, 0.5);
}

.home .container .hero-text .btn {
  margin-left: 10px;
  margin-top: 70px;
  font-family: 'SF Mono Semibold';
  letter-spacing: -1px;
}

.home .container .hero-text .btn .button_2 {
  margin-right: 30px;
}

.about {
  height: 110vh;
  width: 100%;
  background-color: #1c1b20;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about .container .left {
  width: 45%;
}

.about .container .left .content-wrapper {
  margin-top: 40px;
}

.about .container .left .content-wrapper p {
  text-align: justify;
  color: #f8f8f8;
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 2rem;
  font-weight: 300;
}

.about .container .left .content-wrapper p span {
  color: #ff5851;
  font-weight: 400;
}

.about .container .right {
  width: 40%;
}

.about .container .right .img-wrapper {
  position: relative;
  width: 80%;
}

.about .container .right .img-wrapper .box {
  z-index: 4;
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100%;
  width: 85%;
  border: 2px solid #f8f8f8;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.about .container .right .img-wrapper img {
  position: relative;
  z-index: 5;
  width: 85%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.about .container .right .img-wrapper:hover .box {
  top: 20px;
  left: 20px;
}

.projects {
  height: 150vh;
  width: 100%;
  background-color: #1c1b20;
}

.projects .container {
  padding-top: 100px;
}

.projects .container .tile-container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .container .tile-container .tile-wrapper {
  position: relative;
  height: 200px;
  min-width: 320px;
  background-color: lightcoral;
  margin-bottom: 3vw;
  background-position: center;
  overflow: hidden;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.projects .container .tile-container .tile-wrapper h3 {
  position: absolute;
  z-index: 5;
  top: 75%;
  padding-left: 20px;
  width: 100%;
  color: #f8f8f8;
  text-transform: capitalize;
  font-family: 'Josefin sans';
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.projects .container .tile-container .tile-wrapper .perm-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.projects .container .tile-container .tile-wrapper .temp-overlay {
  position: absolute;
  top: 100%;
  z-index: 4;
  height: 100%;
  width: 100%;
  background-color: #323232;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper {
  position: absolute;
  top: 35%;
  color: #f8f8f8;
  padding: 0 20px;
}

.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper p {
  font-size: .9rem;
  font-family: 'SF Mono Regular';
  line-height: 1.2rem;
}

.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-top: 25px;
}

.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper .btn-container .btn-wrapper {
  background-color: #1e1e1e;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 500px;
  cursor: pointer;
  color: #f8f8f8;
}

.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper .btn-container .btn-wrapper .fa-github {
  font-size: 1.4rem;
}

.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper .btn-container .btn-wrapper:hover {
  color: #ff5851;
}

.projects .container .tile-container .tile-wrapper:hover {
  background-position-y: -100px;
}

.projects .container .tile-container .tile-wrapper:hover h3 {
  top: 10%;
}

.projects .container .tile-container .tile-wrapper:hover .temp-overlay {
  top: 0;
}

.contact {
  height: 100vh;
  width: 100%;
  background-color: #1c1b20;
}

.contact h3 {
  color: #f8f8f8;
  font-size: 5rem;
  margin-bottom: 50px;
  padding-top: 70px;
  font-family: 'Josefin Sans';
  text-align: center;
}

.contact .container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contact .container p, .contact .container h6 {
  max-width: 60%;
  text-align: center;
  color: #f8f8f8;
  font-family: 'Josefin Sans';
  font-size: 1.5rem;
}

.contact .container p {
  margin-bottom: 1em;
  line-height: 1.9rem;
}

.contact .container h6 {
  color: rgba(248, 248, 248, 0.5);
}

.contact .container .btn {
  margin: 70px 0 30px 0;
  font-family: 'SF Mono Semibold';
  letter-spacing: -1px;
}

.contact .container h2 {
  margin-top: 50px;
  font-family: 'Josefin Sans';
  font-size: 4.5rem;
  padding-bottom: 10px;
}

.contact .container h2 a, .contact .container h2 a:visited, .contact .container h2 a::before, .contact .container h2 a::after {
  text-decoration: none !important;
  color: #ff5851;
}

.contact .container h2:hover {
  border-bottom: 8px solid #ff5851;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */