//COLORS
$dark-red:#de5f5f;
$bright-red:#ff5851;
$yellow:#FDEF52;
$blue:#add8e6;
$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;


//GLOBAL STYLES
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: 0;
    list-style: none;
}

a{text-decoration: none;}

.container{
    padding: 0 100px 0 5%;
    width: 100%;
    //background-color: lightblue;
}

$accent-c: $silver;
$text-color: $silver;

.button_2{
    border-color: $accent-c;
    background: {
        image: linear-gradient(45deg,$accent-c 50%, transparent 50%);
        position: 100%;
        size: 400%;
    }
    transition: all .25s ease-in-out;
    padding: 12px 15px;
    border: 2px solid $accent-c;
    font-size: 150%;
    text-align: center;
    color: $text-color;

    &:hover {
        background-position: 0;
        color: $not-black-but-dark;
    }
}



//MIXIN
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



//MAIN CSS
.home, .about{
    //overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color:$not-black-but-dark
}

.home{
    position: relative;
    color: $silver;

    header{
        position: absolute;
        height: 70px;
        width: 100%;
        //background-color: lightgreen;
    }

    .container{
        height: 100%;
        display: flex;
        align-items: center;

        .hero-text{
            //background-color: lightsalmon;
            //margin-left: 30px;

            p{
                margin-left: 5px;
                margin-bottom: 20px;
                font-size: 1.4rem;
                font-family: 'SF Mono Regular';
            }

            .name{
                font-family: 'SF Mono Heavy';
                color: $bright-red;
                font-size: 6rem;
            }

            h1{
                font-family: 'SF Mono Bold';
                font-size: 5rem;
                letter-spacing: -3px;
            }

            .btn{
                margin-left: 10px;
                margin-top: 70px;
                font-family: 'SF Mono Semibold';
                letter-spacing: -1px;
            }
        }
    }
}
